.img1 {
  width: 100px;
  height: 100px;
}
@font-face {
  font-family: 'Chill';
  src: url('HachiMaruPop-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BT';
  src: url('BT.woff2') format('woff2');
}
.h1 {
  font-family: 'Chill';
}
.h2 {
  font-family: 'BT';
}
